@font-face {
  font-family: 'IRANSans';
  src: url('/static/fonts/IRANSansWeb.woff2') format('woff2'),
       url('/static/fonts/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'IRANSans', sans-serif;
  background: 
    linear-gradient(135deg, rgba(35, 213, 171, 0.3), rgba(35, 166, 213, 0.3)),
    #ffffff;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: #222;
}
